@model BookType
<div class="container">
    
    <h1 class="text-secondary">Create New Type</h1>
    <hr>
    <div style="color: red" asp-validation-summary="All"></div>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="TypeName" class="form-label"> Type Name</label>
            <input asp-for="TypeName" class="form-control" type="text">
        </div>
        
        <button class="btn btn-primary mt-3" type="submit">Create Type</button>
         <button class="btn btn-outline-primary mt-3" asp-action="Index">Back to list</button>
        
    </form>
   
</div>

@* @section Scripts *@
@* { *@
@*     @{ *@
@*         <partial name="_ValidationScriptsPartial"/> *@
@*     } *@
@* } *@
