@{
    ViewData["Title"] = "Contact Us";
}

<br>
<h1><strong>Contact Details</strong></h1>
<br>
<h3><strong>Address:</strong> Turgut Özal mah. Yenimahalle/Ankara</h3>
<h3><strong>E-mail: </strong><a>seher@gmail.com</a></h3>
