@model Book
<div class="container">
    
    <h1 class="text-secondary">Create New Type</h1>
    <hr>
    <div style="color: red" asp-validation-summary="All"></div>
    <form asp-action="Create" method="post">
       <div class="mb-3">
                       <label asp-for="BookName" class="form-label"> Book Name</label>
                       <input asp-for="BookName" class="form-control border-input"/>
                   </div>
                   <div class="mb-3">
                       <label asp-for="Description" class="form-label"> Description</label>
                       <input asp-for="Description" class="form-control border-input"/>
                   </div>
                   <div class="mb-3">
                       <label asp-for="Author" class="form-label"> Author</label>
                       <input asp-for="Author" class="form-control border-input"/>
                   </div>
                   <div class="mb-3">
                       <label asp-for="Price" class="form-label"> Price</label>
                       <input asp-for="Price" class="form-control border-input"/>
                   </div>
        
        <button class="btn btn-primary mt-3" type="submit">Create Book</button>
         <button class="btn btn-outline-primary mt-3" asp-action="Index">Back to list</button>
        
    </form>
   
</div>
